@font-face {
  font-family: "iconfont"; /* Project id 4656149 */
  src: url('iconfont.woff2?t=1723800353657') format('woff2'),
       url('iconfont.woff?t=1723800353657') format('woff'),
       url('iconfont.ttf?t=1723800353657') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-username:before {
  content: "\e639";
}

.icon-password:before {
  content: "\e64c";
}

