/* 初始化操作 */

/* 清除标签默认内外边距 */
*{
    margin: 0;
    padding: 0;
}

/* 去掉列表样式 */
ul,ol,dl{
    list-style: none;
}

/* 去掉超链接下划线 */
a{
    text-decoration: none;
}

/* 设置基准线是底部 */
img,textarea{
    vertical-align: bottom;
}

/* 去掉外边框 */
input,button,textarea{
    outline: none;
}

/* 占满页面 */
html,body{
    width: 100%;
    height: 100%;
}